# Set up environment for Moddable SDK
#
# Ref:
# https://github.com/Moddable-OpenSource/moddable/blob/public/documentation/Moddable%20SDK%20-%20Getting%20Started.md#mac
export MODDABLE="$HOME/projects/moddable"
export PATH="${MODDABLE}/build/bin/mac/release:$PATH"
